.level-template {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}
.level-template .instructions {
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
}
.level-template input {
  min-width: 300px;
  width: 70%;
  margin: 0 auto;
  height: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.level-text {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 900px;
  margin: 0 auto;
  word-wrap: break-word;
}

.highlight {
  padding: 0 2px;
  margin: 0 1px;
  border-radius: 2px;
  color: black;
}

.selected {
  background-color: rgb(135, 199, 135);
  outline: 2px solid green;
}

.invalid {
  background-color: rgb(206, 144, 144);
  outline: 2px solid red;
}

.match {
  background-color: rgb(124, 154, 218);
  outline: 2px solid blue;
}

.anchor {
  background-color: rgb(206, 202, 144);
  outline: 2px solid yellow;
}

.replace-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.replace-section .output-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.replace-section .current-output {
  word-break: break-all;
}