h1 {
  color: lime;
}

.regex input {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
}
.regex .input-wrapper {
  font-size: 1.5rem;
}
.regex .input-container {
  background-color: #555;
  padding: 2rem;
}
.regex .selected {
  background-color: rgb(104, 193, 228);
  color: black;
  padding: 0 2px;
  margin: 0 1px;
  border-radius: 2px;
}
.regex .text {
  font-size: 1.5rem;
  font-size: 2rem;
}

.level-text {
  font-size: 2rem;
  line-height: 1.5;
}

.highlight {
  padding: 0 2px;
  margin: 0 1px;
  border-radius: 2px;
}

.match {
  background-color: rgb(135, 199, 135);
  color: black;
  outline: 2px solid green;
}

.invalid {
  background-color: rgb(206, 144, 144);
  color: black;
  outline: 2px solid red;
}

.selected {
  background-color: rgb(124, 154, 218);
  color: black;
  outline: 2px solid blue;
}