:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  text-decoration: inherit;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

.btn {
  position: absolute;
  top: 0;
  padding: 1rem;
  cursor: pointer;
  height: 100%;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
