.level-template {
  display: flex;
  flex-direction: column;

  .instructions {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.2rem;
  }

  input {
    max-width: 300px;
    margin: 0 auto;
    height: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
}