.level-text {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 900px;
  margin: 0 auto;
  word-wrap: break-word;
}

.highlight {
  padding: 0 2px;
  margin: 0 1px;
  border-radius: 2px;
  color: black;
}

.selected {
  background-color: rgb(135, 199, 135);
  outline: 2px solid green;
}

.invalid {
  background-color: rgb(206, 144, 144);
  outline: 2px solid red;
}

.match {
  background-color: rgb(124, 154, 218);
  outline: 2px solid blue;
}

.anchor {
  background-color: rgb(206, 202, 144);
  outline: 2px solid yellow;
}

