@import "variables";

h1 {
  color: $secondary;
}

.regex {
  input {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 0 0.5rem;
  }

  .input-wrapper {
    font-size: 1.5rem;
  }
  
  .input-container {
    background-color: #555;
    padding: 2rem;
  }

  .selected {
    background-color: rgb(104, 193, 228);
    color: black;
    padding: 0 2px;
    margin: 0 1px;
    border-radius: 2px;
  }

  .text {
    font-size: 1.5rem;
  }
  
}

.match {
  background-color: lime;
    color: black;
    padding: 0 2px;
    margin: 0 1px;
    border-radius: 2px;
}

.invalid {
  background-color: red;
    color: white;
    padding: 0 2px;
    margin: 0 1px;
    border-radius: 2px;
}

.selected {
  background-color: paleturquoise;
    color: black;
    padding: 0 2px;
    margin: 0 1px;
    border-radius: 2px;
}